<div class="content">
    <div class="card">
        
        <div class="card-content">

            <div class="page-tittle">
                Dados de usuário
            </div>

            <div class="input-area">
                <div class="section-name ">
                    Dados gerais:
                </div>

                <div class="inputs">
                    <div class="field">
                        <div class="field-tittle"> Nome: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>
    
                    <div class="field">
                        <div class="field-tittle"> Sobrenome: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>
    
                    <div class="field">
                        <div class="field-tittle"> Data de nascimento: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>
    
                    <div class="field">
                        <div class="field-tittle"> Email: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>
    
                    <div class="field">
                        <div class="field-tittle"> Cpf: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>
                </div>
            </div>

            <div class="input-area">
                <div class="section-name ">
                    Endereço:
                </div>

                <div class="inputs">
                    <div class="field">
                        <div class="field-tittle"> Cidade: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>
    
                    <div class="field">
                        <div class="field-tittle"> Rua: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>
    
                    <div class="field">
                        <div class="field-tittle"> Número: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>
    
                    <div class="field">
                        <div class="field-tittle"> Bairro: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>
    
                    <div class="field">
                        <div class="field-tittle"> Cep: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>
                </div>
            </div>

            <div class="bottom-options">
                <div class="btn save" >
                    <div class="btn-name">
                        Salvar
                    </div>
        
                    <img class="btn-icon" src="../../../assets/icons/check.svg">
                </div>
    
                <div class="btn cancel" >
                    <div class="btn-name">
                        Cancelar
                    </div>
                    <img class="btn-icon" src="../../../assets/icons/cancel.svg">
                </div>
            </div>
        </div> 

    </div>
</div>