<div class="content">

    <div class="card">
        <div>
            <div class="card-name">
                Redefinir Senha
            </div>

            <div *ngIf="showSucessMensage" class="sub-card">
                <p class="p">
                    Senha redefinida com sucesso !
                </p>
    
                <div (click)="goToLogin()" class="submit-btn">
                    <p>
                        Log-in
                    </p>
                </div>
            </div>

            <div class="card-text">
                Preencha os campos abaixo, para redefinir sua senha.
            </div>

            <div class="form-content">
                <div class="field">
                    <div class="field-tittle"> Digite sua nova senha: </div>
                    <input  class="field-box tiny-field">
                    <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                        <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                    </div-->
                </div>

                <div class="field">
                    <div class="field-tittle"> Confirme sua nova senha: </div>
                    <input  class="field-box tiny-field">
                    <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                        <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                    </div-->
                </div>
            </div>

            <div (click)="onSubmit()" class="submit-btn">
                <p>
                    Redefinir
                </p>
            </div>
        </div>

        <div (click)="goToLogin()" class="forgot">
            Cancelar
        </div>
    </div>
</div>