<div class="content">
    <div class="card">        
        <div class="card-content">

            <div class="page-tittle">
                Controle de posto
            </div>

            <div class="input-area">
                <div class="inputs">
                    <div class="field">
                        <div class="field-tittle"> Nome posto: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>
    
                    <div class="field">
                        <div class="field-tittle"> Cidade: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>
    
                    <div class="field">
                        <div class="field-tittle"> Bairro: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>
    
                    <div class="field">
                        <div class="field-tittle"> Rua: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>
    
                    <div class="field">
                        <div class="field-tittle"> Cep: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>

                    <div class="field">
                        <div class="field-tittle"> Número: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>

                    <div class="field">
                        <div class="field-tittle"> Horário atendimento: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>

                    <div class="field">
                        <div class="field-tittle"> Idade mínima: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>

                    <div class="field">
                        <div class="field-tittle"> Nº de doses liberadas para agendamento: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>

                    <div class="field">
                        <div class="field-tittle"> Nº de doses alocadas para agendamento: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>

                    <div class="field">
                        <div class="field-tittle"> Nº de doses disponíveis: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>

                    <div class="field">
                        <div class="field-tittle"> Liberar doses de lote: </div>
                        <div>
                            <img class="select-icon" src="../../../assets/icons/selector2.svg">
                            <select class="btn-selector btn-selector-name" id="FSUsuario" name="filterTipoUser">
                                <option class="btn-selector-name" value="australia">Seleção de Lote</option>
                                <option class="btn-selector-name" value="australia">Australia</option>
                                <option class="btn-selector-name" value="canada">Canada</option>
                                <option class="btn-selector-name" value="usa">USA</option>
                            </select>       
                        </div>
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>

                    <div class="field">
                        <div class="field-tittle"> Quantidade: </div>
                        <input  class="field-box">
                        <!--div *ngFor="let error of vacinaFormErrors.errorMessages.id">
                            <div *ngIf="hasErrorWith(vacinaDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                        </div-->
                    </div>

                </div>
            </div>


            <div class="bottom-options">
                <div class="btn save" >
                    <div class="btn-name">
                        Salvar
                    </div>
        
                    <img class="btn-icon" src="../../../assets/icons/check.svg">
                </div>
    
                <div class="btn cancel" >
                    <div class="btn-name">
                        Cancelar
                    </div>
                    <img class="btn-icon" src="../../../assets/icons/cancel.svg">
                </div>
            </div>
        </div> 

    </div>
</div>
