<div class="content">
    <div class="card">
        <div class="top-options">
            <div class="page-tittle">
                Posto de Vacinacao
            </div>            
        </div>
        
        <form [formGroup]="postoVacinacaoDataForm">
            <div class="columns">
                <div class = "column">
    
                    <div class="section">
                        <div class="section-name">
                            Dados gerais:
                        </div>
    
                        <div class="section-content">
                            <div class="field">
                                <div class="field-tittle"> ID: </div>
                                <input formControlName="id" class="field-box tiny-field">
                                <div *ngFor="let error of postoVacinacaoFormErrors.errorMessages.id">
                                    <div *ngIf="hasErrorWith(postoVacinacaoDataForm,'id', error.type)" class="error-message"> {{ error.message }}</div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="field-tittle"> Nome: </div>
                                <input formControlName="nome" class="field-box">
                                <div *ngFor="let error of postoVacinacaoFormErrors.errorMessages.nome">
                                    <div *ngIf="hasErrorWith(postoVacinacaoDataForm,'nome', error.type)" class="error-message"> {{ error.message }}</div>
                                </div>
                            </div>
    
                            <div class="field">
                                <div class="field-tittle"> Horário funcionamento: </div>
                                <input formControlName="horarioFuncionamento" class="field-box">
                                <div *ngFor="let error of postoVacinacaoFormErrors.errorMessages.horarioFuncionamento">
                                    <div *ngIf="hasErrorWith(postoVacinacaoDataForm,'horarioFuncionamento', error.type)" class="error-message"> {{ error.message }}</div>
                                </div>
                            </div>
    
                        </div>    
                    </div>
    
                    <div class="section">
                        <div class="section-name">
                            Endereço:
                        </div>
                        <div class="section-content">
    
                            <div class="field">
                                <div class="field-tittle"> Cidade: </div>
                                <input formControlName="cidade" class="field-box">
                                <div *ngFor="let error of postoVacinacaoFormErrors.errorMessages.cidade">
                                    <div *ngIf="hasErrorWith(postoVacinacaoDataForm,'cidade', error.type)" class="error-message"> {{ error.message }}</div>
                                </div>
                            </div>
    
                            <div class="field">
                                <div class="field-tittle"> Cep: </div>
                                <input formControlName="cep" class="field-box">
                                <div *ngFor="let error of postoVacinacaoFormErrors.errorMessages.cep">
                                    <div *ngIf="hasErrorWith(postoVacinacaoDataForm,'cep', error.type)" class="error-message"> {{ error.message }}</div>
                                </div>
                            </div>
    
                            <div class="field">
                                <div class="field-tittle"> Rua: </div>
                                <input formControlName="rua" class="field-box large-field">
                                <div *ngFor="let error of postoVacinacaoFormErrors.errorMessages.rua">
                                    <div *ngIf="hasErrorWith(postoVacinacaoDataForm,'rua', error.type)" class="error-message"> {{ error.message }}</div>
                                </div>
                            </div>
    
                            <div class="field">
                                <div class="field-tittle"> Número: </div>
                                <input formControlName="numero" class="field-box tiny-field">
                                <div *ngFor="let error of postoVacinacaoFormErrors.errorMessages.numero">
                                    <div *ngIf="hasErrorWith(postoVacinacaoDataForm,'numero', error.type)" class="error-message"> {{ error.message }}</div>
                                </div>
                            </div>
    
                            <div class="field">
                                <div class="field-tittle"> Bairro: </div>
                                <input formControlName="bairro" class="field-box">
                                <div *ngFor="let error of postoVacinacaoFormErrors.errorMessages.bairro">
                                    <div *ngIf="hasErrorWith(postoVacinacaoDataForm,'bairro', error.type)" class="error-message"> {{ error.message }}</div>
                                </div>
                            </div>
    
                        </div>    
                    </div>
                </div>
            </div>
    
            <div class="bottom-options">
                <div class="btn save" (click)="submitForm()">
                    <div class="btn-name">
                        Salvar
                    </div>
        
                    <img class="btn-icon" src="../../../assets/icons/check.svg">
                </div>
    
                <div class="btn cancel" (click)="cancelFormSubmition()">
                    <div class="btn-name">
                        Cancelar
                    </div>
                    <img class="btn-icon" src="../../../assets/icons/cancel.svg">
                </div>
            </div>
        </form>
        

    </div>
</div>



